doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendors/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    body
    block content

    script(type='text/javascript', src='/vendors/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/javascripts/app.min.js')